*{
    margin: 0;
    padding: 0;
    color: #8d8888;
    font-family: 'Poppins', sans-serif;
}

.top-banner{
    width: 100%;
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.banner-title{
    font-size: 50px;
    color:rgb(213, 103, 12);
    font-weight: 800;
    text-align: right;
    padding: 60px 80px ;
}

.top-details{
    color: #521f74;
    font-size: 20px;
    font-weight: 900;
    text-align: right;
    padding-right: 75px;
    padding-bottom: 55px;

}

.btn-clr{
    color: white;
    background-color: #0b1aa0;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 900;
    margin-top: 22px;
    padding: 10px 15px;
    border-style: none;
}

.previous-section{
    margin: 120px 210px;
    padding: 20px 30px;
}

.previous-section img{
    height: 100%;
}

.previous-section li{
    list-style: none;
    color: rgb(13, 122, 11);
}

.previous-year-info{
    color: rgb(55, 23, 34);
    font-size: 18px;
    font-weight: 900px;
}

.previous-container{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: space-between;
}

.previous-year-title{
    font-size: 40px;
    color: rgb(4, 123, 163);
}

.plan-section{
    margin: 130px 230px;
    padding: 20px 30px;
    text-align: center;
}

.plan-title{
    color: #0d18b3;
    font-size: 48px;
    font-weight: 900px;
    padding-bottom: 50px;
}

.plans{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.plan-item{
    font-size: 20px;
    font-weight: 900;
    color: #34475E;
    gap: 50%;
}

.plan-description{
    color: green;
    font-weight: 900;
}

.positive-section{
    background-image: url(images/gradient1.png), url(images/watch.png);
    margin: 130px 230px;
    padding: 20px 40px;
    text-align: left;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-radius: 5px;
}

.positive-text{
    color: white;
    font-size: 35px;
    font-weight: 900;
    
}
.btn-call{
    color: #0300ce;
    background-color: white;
    font-size: 22px;
    padding: 15px 30px;
    font-weight: 900;
    border-radius: 10px;
    margin-top: 18px;
    margin-bottom: 33px;
    border-style: none;
}

.bg-clr{
    display: flex;
    gap: 150px;
    padding: 50px 230px;
    background-color: #000000;
    text-align: left;
}


/* .right-items{
    margin-right: 35%;
padding-bottom: 10%;
} */
.footer-item-title{
    color: white;
    font-weight: 900;
    font-size: 35px;
    
}

.footer-item-text{
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.footer-items a{
    text-decoration: none;
}

.btn-submit{
    color: #df1f1f;;
    font-size: 20px;
    font-weight: 900;
    background-color: white;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 20px;
    border-style: none;
    width: 70%;
}

.email{
    margin-right: 35px;
    color: black;
}

.mail{
    
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    background: white;
    border-radius: 5px;
    width: 75%;
    color: rgb(0, 0, 0);
}